title=(?is)<h1 itemprop="headline">.*?</h1>
publishDate=(?is)20\d{2}-\d{2}-\d{2}\s+\d{2}:\d{2}:\d{2}</div>
author=(?is)<span id="author_baidu">.*?</span>
mainContent=(?is)<div itemprop="articleBody">.*?<p>.*?</p></div>