title=(?is)<h2 class="title">.*?</h2>
publishDate=(?is)20\d{2}年\d{2}月\d{2}日</span>
author=(?is)<span>作者：</span><span>.*?</span>
mainContent=(?is)<div class="m-stusummary">.*?</div>.*?<div class="m-content01 f-cb">.*?</div>