title=(?is)<h2>.*?</h2>
publishDate=(?is)</small>20\d{2}-\d{2}-\d{2}\s+\d{2}:\d{2}<small>
author=(?is)作者:</small>.*?<small>
mainContent=(?is)<div id="content" class="content">.*?<div class="dede_pages">